<article class="article-template">
{% include 'breadcrumbs' %}
  <div class="article-template__content rte">
    {% for block in section.blocks %}
      {% assign getblog = block.settings.arti_blg %}
        
        <div class="topic-1-main">
          <div class="page-width">
            <div class="topic-1-inner">
              {% if blog.metafields.custom.youtube_url != blank %}
              <div class="topic1-innleft">
                <iframe 
                width="648" 
                height="359" 
                src="{{ blog.metafields.custom.youtube_url }}" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen=""
              ></iframe>
              {% endif %}
              {% if blog.metafields.custom.youtube_title != blank %}
              <p>{{ blog.metafields.custom.youtube_title }}</p>
              {% endif %}
              </div>
              <div class="topic1-innright">
                {% if blog.metafields.custom.blog_content != blank %}
                <p>{{ blog.metafields.custom.blog_content }}</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      
    {% endfor %}
  </div>
</article>
{% schema %}
  {
    "name": "Topic 1 Content",
    "blocks": [
      {
        "type": "text",
        "name": "Add description",
        "settings":[
          {
              "type": "article",
              "id": "arti_blg",
              "label": "Select Article"
            },
            {
              "type": "header",
              "content": "Title"
            },
            {
              "type": "text",
               "id": "headring",
               "label": "Title"
            },
            {
              "type": "header",
              "content": "Topic 1 Left Side Content"
            },
            {
              "type": "text",
              "id": "vid_lnk",
              "label": "Youtube Video Link"
            },
            {
              "type": "richtext",
              "id": "ttl_txt",
              "label": "Content"
            },
            {
              "type": "header",
              "content": "Topic 1 Right Side Content"
            },
            {
              "type": "text",
              "id": "vid_ttl",
              "label": "Title"
            },
            {
              "type": "richtext",
              "id": "ttl_txt2",
              "label": "Content"
            }
        ]
      }
    ],
    "presets":[
      {
        "name": "Topic 1 Content"
      }
    ]
  }
{% endschema %}