<!-- start_review_render_code_widget_section -->
{{'custom-product-page-review.scss.css' | asset_url | stylesheet_tag }}
<div data-section-type="product-page-review">
	<div class="page-width page-wrapper">
		<div id="pr-reviewdisplay" style=""></div>
	</div>
</div>

<!-- end_review_render_code_widget_section -->  

{% schema %}
{
  "name": "Product page review",
  "presets": [
    {
      "name":"Product page review"
    }
  ]
}
{% endschema %}