.h0 {
  font-size: 32px;
}

@media only screen and (min-width: 750px) {
  .h0 {
    font-size: 50px;
  }
}

h1,
.h1 {
  font-size: 20px;
}

@media only screen and (min-width: 750px) {
  h1,
  .h1 {
    font-size: 32px;
  }
}

h2,
.h2 {
  font-size: 18px;
}

@media only screen and (min-width: 750px) {
  h2,
  .h2 {
    font-size: 32px;
  }
}

h3,
.h3 {
  font-size: 17px;
}

@media only screen and (min-width: 750px) {
  h3,
  .h3 {
    font-size: 16px;
  }
}

h4,
.h4 {
  font-size: 15px;
}

@media only screen and (min-width: 750px) {
  h4,
  .h4 {
    font-size: 20px;
  }
}

h5,
.h5 {
  font-size: 13px;
}

@media only screen and (min-width: 750px) {
  h5,
  .h5 {
    font-size: 15px;
  }
}

.text-uppercase--true {
  text-transform: uppercase!important;
}

.button {
  font-weight: 700;
  min-width: 200px;
  letter-spacing: 2px;
  min-height: 45px;
  text-transform: uppercase;
  font-size: 16px;
  &.dark {
    background: black;
    color: white;
    &::before, &::after {
      content: none;
    }
  }
  &.small {
    min-height: 38px;
    min-width: initial;
    width: fit-content;
    padding: 0 20px;
    font-size: 12px;
  }
}

.link {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  font-weight: 700;
  text-transform: uppercase;
  &.animate-arrow {
    // display: inline;
    display: flex;
    align-items: center;
    .icon-wrap {
      display: inline-flex;
      width: 20px;
      line-height: 10px;
      position: relative;
      // margin-left: 20px;
      // top: -2px; 
    }
  }
  .icon-wrap {
    margin-left: 0.8rem;
    white-space: nowrap;
    svg {
      min-width: initial;
      margin: 0;
    }
  }
  &.large {
    letter-spacing: 3px;
    font-weight: 700;
    text-transform: uppercase;
  }           
}

.upprecase--true {
  text-transform: uppercase;
}

.btn {
  font-family: var(--font-body-family);
  text-transform: uppercase;
}

.hide {
  display: none;
}

.card-wrapper {
  .card {
    .card__inner {
      
    }
    .card__content {
      .card__information {
        .vendor {
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 1px;
          text-transform: capitalize;
        }
        .card__heading {
          margin-top: 10px;
          text-transform: uppercase;
          letter-spacing: normal;
        }
      }
    }
  }
}

.no-margin {
  margin: 0;
}
#MainContent {
  display: block!important;
  &.cart {
    min-height: 700px;
    & > .page-width {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      .cart__items-wrapper {
        margin: auto;
        width: calc(100% - 400px);
        @media screen and (max-width: 989px) {
          width: 100%;
        }
      }
      .cart__footer-wrapper {
        @media screen and (max-width: 989px) {
          width: 100%;
        }
        #main-cart-footer {
          width: 400px;
          @media screen and (max-width: 989px) {
            width: 100%;
          }
          &.is-empty {
            display: none;
          }
        }
        
      }
      .featured-collection {
        max-width: 1200px;
        margin: auto;
        width: 100%;
        }
    }
  }
  .side-banner--true {
    @media screen and (min-width: 990px) {
      margin-left: 160px;
      border-left: 1px solid #D1D3D4;
    }
    
  }
  .side-banner-section {
    display: none;
    @media screen and (min-width: 990px) {
      display: block;
      position: absolute;
      max-width: 160px;
      img {
        width: 100%;
        height: auto;
        margin-top: 34vh;
        min-height: 35vw;
      }  
    }
  }
}
html {
  #tagalys-namespace {
    &[data-recommendation="similar-products"].page-width--narrow.tagalys-namespace {
      max-width: 1206px!important;
      padding: 0 80px;
      margin: auto;
      @media screen and (max-width: 749px) {
        padding: 0;
      }
      .widget {
        .widget-header {
          margin-bottom: 30px;
          @media screen and (max-width: 749px) {
            margin-bottom: 10px;
          }
          .widget-heading {
            text-transform: uppercase;
            font-size: 40px;
            letter-spacing: 1px;
            text-align: center;
            @media screen and (max-width: 749px) {
              font-size: 20px;
              text-align: left;
            }
          }
        }
        .widget-body {
          
          @media screen and (max-width: 749px) {
            position: relative;
            &::after {
              content: " ";
              width: 50px;
              height: 100%;
              background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
              position: absolute;
              right: 0;
              top: 0;
            }
          }
          .products-and-navigation {
            @media screen and (max-width: 749px) {
              padding-right: 0;
              padding-left: 20px;
            }
          }
          .carousel-actions-container {
            @media screen and (max-width: 749px) {
              display: none;
            }
            display: none;
          }
          .products {
            .product {
              .product-image-container {
                &::before {
                  padding-bottom: 100%;
                }
              }
              .badge {
                background: black;
                color: white;
                text-transform: uppercase;
                font-size: 11px;
                font-weight: 700;
                margin-top: 10px;
                margin-left: 10px;
                &:empty {
                  display: none;
                }
              }
              .product-details {
                padding: 20px 0;
                .product-name {
                  text-align: left;
                  font-weight: 700;
                  font-size: 20px;
                  text-transform: uppercase;
                  line-height: 32px;
                  letter-spacing: 1px;
                  @media screen and (max-width: 749px) {
                    font-size: 14px;
                    line-height: 21px;
                  }
                }
                .pwr-category-snippets .p-w-r .pr-category-snippet {
                  margin: 0;
                  @media screen and (max-width: 989px) {
                    display: block;
                  }
                  .pr-category-snippet__rating {
                    @media screen and (max-width: 989px) {
                      width: 100%;
                      display: block;
                    }
                    .pr-snippet-stars {
                      .pr-rating-stars {
                        margin-left: -2px;
                        .pr-star-v4 {
                          &.pr-star-v4-0-filled {
                            background-image: url('./empty-star.png');
                            margin: 0;
                          }
                        }
                      }
                      .pr-snippet-rating-decimal {
                        display: none;
                      }
                    }
                  }
                  .pr-category-snippet__total {
                    @media screen and (max-width: 989px) {
                      width: 100%;
                      padding-left: 2px;
                      padding-top: 2px;
                      font-size: 12px;
                    }
                  }
                }
                .product-prices {
                  text-align: left;
                  margin-top: 10px;
                  font-weight: normal;
                  .product-price-regular {
                    font-weight: normal;
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  
}

[data-section-type="announcement-bar-section"] {
  .slider {
    column-gap: 0px;
    row-gap: 0px;
    flex-wrap: nowrap;
    margin: 0;
  }
  .slideshow__controls {
    display: none;
  }
}
.p-w-r .pr-war {
  margin: auto;
}

.pwr-category-snippets .p-w-r .pr-category-snippet {
  margin: 0;
  @media screen and (max-width: 989px) {
    display: block;
  }
  .pr-category-snippet__rating {
    @media screen and (max-width: 989px) {
      width: 100%;
      display: block;
    }
    .pr-snippet-stars {
      .pr-rating-stars {
        margin-left: -2px;
        .pr-star-v4 {
          &.pr-star-v4-0-filled {
            background-image: url('./empty-star.png');
            margin: 0;
          }
        }
      }
      .pr-snippet-rating-decimal {
        display: none;
      }
    }
  }
  .pr-category-snippet__total {
    @media screen and (max-width: 989px) {
      width: 100%;
      padding-left: 2px;
      padding-top: 2px;
      font-size: 12px;
    }
  }
}

#pwr-snippets {
  margin: 0;
  #pr-reviewsnippet {
    .pr-snippet {
      .pr-snippet-stars-container {
        .pr-snippet-stars {
          .pr-rating-stars {
            margin-left: -2px;
            .pr-star-v4 {
              &.pr-star-v4-0-filled {
                background-image: url('./empty-star.png');
                margin: 0;
              }
            }
          }
          .pr-snippet-rating-decimal {
            display: none;
          }
        }
      }
      .pr-snippet-read-and-write {
        margin-top: 2px;
        .pr-snippet-review-count {
          color: black;
          font-weight: normal;
        }
        .pr-snippet-write-review-link {
          color: black;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 12px!important;
        }
      }
    }
  }
}

.boost-sd__modal {
  display: none!important;
}

body.boost-sd__modal-open {
  overflow: initial!important;
}

body.hide-price {
  .price {
    display: none!important;
  }
  .buy-buttons-box {
    display: none!important;
  }
  .product-prices {
    display: none!important;
  }
}

.boost-pfs-addtocart-wrapper {
  pointer-events: none;
}

.lcly-location-switcher-outer {
  form {
    background: #ddd;
    input {
      box-shadow: none!important;
      outline: none!important;
    }
    .lcly-location-switcher-button {
      background: transparent!important;
    }
  }
}

.pagination-wrapper {
  .pagination__list {
    li {
      max-width: 50px;
      .pagination__item {
        font-weight: 700;
        height: 30px;
        &.pagination__item--current {
          &::after {
            content: none;
          }
          color: #CC9F53;
        } 
        &.pagination__item-arrow {
          background: #CC9F53;
          color: white;
        }
      }
    }
  }
}

.field--with-error {
  .error {
    display: none;
    width: 100%;
    background: white;
    padding-top: 5px;
    color: red;
  }
}

#lcly-overlay-0 {
  a:empty,
  ul:empty,
  dl:empty,
  div:empty,
  section:empty,
  article:empty,
  p:empty,
  h1:empty,
  h2:empty,
  h3:empty,
  h4:empty,
  h5:empty,
  h6:empty {
    display: block;
  }
}

[data-pr-component="Write"] {
  .pr-form-group  {
    .pr-file-input-btn {
      button {
        background: black;
        min-height: 40px;
        padding: 10px 20px;
        border: none;
        border-radius: 30px;
        min-width: 150px;
        color: white;
        text-align: center;
        justify-content: center;
        font-weight: 700;
        text-transform: uppercase;
        font-family: var(--font-heading-family);
        letter-spacing: 2px;
      }
    }
  }
  .pr-submit {
    .pr-btn-review {
      background: #E3D0A5;
        min-height: 40px;
        padding: 10px 20px;
        border: none;
        border-radius: 30px;
        min-width: 150px;
        color: black;
        text-align: center;
        justify-content: center;
        font-weight: 700;
        text-transform: uppercase;
        font-family: var(--font-heading-family);
        letter-spacing: 2px;
    }
  }
}

#shopify-section-template--18142514905380__16793799636a54b011 .fs-wide-timeline
{
  margin-bottom: 100px;
}
@media screen and (max-width: 749px) {

}

/*cybernauticstech */
.card__badge.best-seller.top.left {
    background: #E3D0A5;
    font-weight: 700;
    padding: 3px 10px;
    border-radius: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 13px
}
#CollectionProductGrid .collection .boost-pfs-filter-left-col .boost-pfs-filter-tree .boost-pfs-filter-tree-content .boost-pfs-filter-refine-by-wrapper .boost-pfs-filter-refine-by .boost-pfs-filter-refine-by-items .refine-by-item .boost-pfs-filter-button .refine-by-value {
    font-weight: 400;
    color: #000;
    font-size: 14px !important;
}
.card__inner.color-background-1.ratio {
    //  background-color: #F8F8FA; //Client asked this
}
.boost-pfs-filter-left-col {
    overflow-y: scroll;
    // height: 460px;
    padding-right: 16px;
}

.boost-pfs-filter-left-col::-webkit-scrollbar {
    width: 4px;
}

.boost-pfs-filter-left-col::-webkit-scrollbar-thumb {
    background: #D3D3D3;
}

.boost-pfs-filter-left-col::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.header-wrapper .header {
    max-width: 1600px !important;
}
.boost-pfs-filter-right-col {
    padding-left: 60px !important;
}
body.hide-price .price, body.hide-price .buy-buttons-box, body.hide-price .product-prices{
  display: block !important;
}
#CollectionProductGrid .collection .boost-pfs-filter-right-col .product-grid .product-card-wrapper .card .card__content .card__information .card__heading {
    min-height: 48px;
}
@media (max-width: 1199px){
#CollectionProductGrid .collection .boost-pfs-filter-right-col .product-grid .product-card-wrapper .card .card__content .card__information .card__heading {
    margin-top: 5px;
    font-size: 18px !important;
}
  }
@media (max-width: 1199px){
.boost-pfs-action-list-enabled {
    padding-bottom: 0px !important;
}
   
}
@media only screen and (max-width: 767px) {
  .topic1-innright, .topic1-innleft {
    width: calc(100% - 20px) !important;
    margin: 0 10px;
}.topic1-innleft iframe {
    width: 100% !important;
}.topic1-innleft p{
    width: auto !important;
    margin-bottom: 30px
}.edutopic11 .banner--mobile-bottom .banner__media {
/*     position: relative; */
}
  .boost-pfs-filter-left-col{
    overflow-y: unset; 
    height: unset; 
    padding-right: unset;
}
  .boost-pfs-filter-right-col {
    padding-left: unset !important;
}
  .card-wrapper .card .card__content .card__information .vendor {
    font-size: 13px !important;
    
}
#CollectionProductGrid .collection .boost-pfs-filter-right-col .product-grid .product-card-wrapper .card .card__content .card__information .card__heading {
    font-size: 14px !important;
    min-height: 37px;
}
#CollectionProductGrid .collection .boost-pfs-filter-right-col .product-grid .product-card-wrapper .card .card__content .card__information .card-information .price {
    font-size: 13px !important;

}
}
/*cybernauticstech */

/*zildjian-underground*/
.zildjian-underground .custom-video-gall {
    background-color: #F8F8F9;
}.zildjian-underground .custom-video-gall .video_slider_container {
    background-color: #F8F8F9;
}.zildjian-underground .video_slider_title {
    padding-top: 70px;
}.zildjian-underground  .custom-video-gall .video_slider_container .color-background-1.gradient.slick-slide.slick-current.slick-active {
    background-color: #F8F8F9;
}.zildjian-underground  .custom-video-gall .video_slider_container .btn-slider {
    padding-bottom: 70px;
    max-width: 1040px;
    padding-top: 36px;
}.zildjian-underground  .page-width {
    max-width: 1200px !important;
}.zildjian-underground .banner__content.banner__content--bottom-left {
    align-items: center;
    justify-content: space-around;
    position: relative;
    right: 323px;
    top: 181px;
}.zildjian-underground .banner__box .banner__heading+* {
    margin-top: 11px;
    font-size: 16px;
    font-weight: 700;
}.zildjian-underground  .rich-text__wrapper.rich-text__wrapper--center {
/*     margin: 0 !important; */
    width: 100% !important;
}.zildjian-underground .titl-class-sec .page-width {
    max-width: var(--page-width);
    padding: 0;
}.zildjian-underground .left-slide-txt {
    width: 75%;
}.zildjian-underground .right-slide-btn {
    width: 25%;
}.zildjian-underground .newsletter .page-width {
    max-width: var(--page-width);
}.zildjian-underground .video_slider_container .slick-next {
    right: 10%!important;
    bottom: -131px!important;
}.zildjian-underground .video_slider_container .slick-next:before {
    color: #5d5d5f;
    height: 50px;
    width: 50px;
    background-image: url(https://cdn.shopify.com/s/files/1/0729/7938/2564/files/nav.png?v=1683283241);
    display: block;
    font-size: 0;
  background-repeat: no-repeat;
}.zildjian-underground .rich-text .rich-text__blocks p {
    font-size: 16px;
    font-weight: 500;
}.zildjian-underground .left-slide-txt, .zildjian-underground .right-slide-btn {
    text-transform: uppercase;
}.zildjian-underground .left-slide-txt h3, .zildjian-underground .right-slide-btn h3 {
    margin-top: 0 !important;
}.zildjian-underground .left-slide-txt h2, .zildjian-underground .right-slide-btn h2 {
    margin-bottom: 12px;
}.zildjian-underground .rght-txt-img {
    display: none;
}
@media screen and (max-width: 767px){
.zildjian-underground .page-width .rich-text {
    margin: 0;
    width: 100%;
}.zildjian-underground .rich-text__blocks.left.contnet-type--list {
    padding: 0;
}.zildjian-underground .custom-video-gall .video_slider_container .btn-slider {
    display: block;
  padding-top: 0px;
}.zildjian-underground .left-slide-txt {
    width: 100%;
}.zildjian-underground .right-slide-btn {
    width: 100%;
}.zildjian-underground .video_slider_title {
    padding-top: 25px;
}.zildjian-underground .video_slider_container .slick-next:before {
    color: #5d5d5f;
    height: 50px;
    width: 50px;
    background-image: url(https://cdn.shopify.com/s/files/1/0729/7938/2564/files/nav.png?v=1683283241);
    display: block;
    font-size: 0;
    background-repeat: no-repeat;
    position: absolute;
    // top: 61px;
    top: 50px;
    opacity: unset;
    left: inherit;
    // right: 149px;
    right: 200px;
}.zildjian-underground .right-slide-btn .rght-txt-img {
    display: none;
}.zildjian-underground .right-slide-btn {
    justify-content: initial;
    align-items: center;
}.zildjian-underground .right-slide-btn h2 {
    text-align: left!important;
}.right-slide-btn h3 {
    display: none;
}.zildjian-workout-practice-and-learn-from-the-zildjian-artists .top-content .page-width {
    padding: 25px 10px;
}.zildjian-underground .banner__content.banner__content--bottom-left {
    right: 0 !Important;
    top: 111px !Important;
}
.zildjian-underground .banner .banner__content .banner__box .banner__heading{
  font-size: 24px;
}
.zildjian-underground .article-template__title{
  position: relative;
  font-weight: 400;
  margin-bottom: 0;
}
.zildjian-underground .titl-class-sec .page-width{
  padding: 0 20px;
}
.zildjian-underground .article-template__title::before{
  content: " ";
  // width: 5px;
  // height: 5px;
  // display: block;
  // border: 1px solid #5C5D60;
  // border-top: none;
  // border-left: none;
  // transform: rotate(135deg);
  // margin-right: 10px;
  // left: 25px;
  // top: 21px;
  // background: transparent;
  // border-radius: 0;
}
.zildjian-underground .article-template__title::after{
  content: " ";
  // width: 15px;
  // height: 15px;
  // display: block;
  // border: 1px solid #5C5D60;
  // margin-right: 10px;
  // left: 19px;
  // top: 16px;
  // background: transparent;
  // border-radius: 50%;
  // position: absolute;
}
.zildjian-underground .rich-text .rich-text__blocks p{
  font-size: 15px;
  margin-bottom: 20px;
}
}

@media screen and (max-width: 1024px){
.zildjian-underground .banner__content.banner__content--bottom-left {
    right: 140px;
    top: 207px;
}
}
/*01-introduction-and-history-of-the-art-of-bop-drumming-method*/
.large-hide.mobile-vide-sec {
    display: none;
}
@media screen and (max-width: 767px){
.Introduction.and.History.of.the.art.bop .article-template .image-with-text .image-with-text__grid .image-with-text__media-item .image-with-text__media img {
   position: initial;
}.Introduction.and.History.of.the.art.bop .image-with-text__media.image-with-text__media--adapt.global-media-settings.media {
    padding-bottom: 0 !important;
}
.large-hide.mobile-vide-sec {
    display: block;
}.Introduction.and.History.of.the.art.bop .article-template .article-template__content .content {
    margin: 0;
    padding: 0px 0 0;
}.Introduction.and.History.of.the.art.bop .article-template .article-template__content .quote {
    padding: 0;
    border-top: none;
    border-bottom: none;
  font-style: italic;
}.Introduction.and.History.of.the.art.bop .article-template .about-artist-section {
    margin-top: 0;
}
.Introduction.and.History.of.the.art.bop.brumming.method.boost-pfs-enable-app .banner--mobile-bottom .banner__media{
  position: absolute;
}.Introduction.and.History.of.the.art.bop.brumming.method.boost-pfs-enable-app h2.banner__heading.h1.text-uppercase--false {
    font-size: 24px !Important;
}.Introduction.and.History.of.the.art.bop.brumming.method.boost-pfs-enable-app .banner .banner__content {
    position: absolute;
    top: 15px;
}.mobile-vide-sec{
  padding: 20px 0;
}.mobile-vide-sec p {
    line-height: 19px;
}#shopify-section-template--18305496580388__main .breadcrumbs__list .nth {
    display: block !important;
}
}

/*level*/
.Level .article-template__content.page-width.page-width--narrow.rte {
    max-width: 100%;
    background: #F8F8F9;
  padding: 40px 0;
}.Level .article-template__content.page-width.page-width--narrow.rte h2, .zildjian-workout-practice-and-learn-from-the-zildjian-artists .top-content h2 {
    text-align: center;
}.Level .article-template__content.page-width.page-width--narrow.rte .topic-mm div, .zildjian-workout-practice-and-learn-from-the-zildjian-artists .top-content .topic-mm div {
    flex: 0 48%;
}.Level .article-template__content.page-width.page-width--narrow.rte .topic-mm, .zildjian-workout-practice-and-learn-from-the-zildjian-artists .top-content .topic-mm {
    display: flex;
    justify-content: space-between;
}.zildjian-workout-practice-and-learn-from-the-zildjian-artists .top-content .page-width {
    padding: 40px 185px;
    margin-top: 20px;
}

/*form page*/
.factory-tours-signup .banner .banner__content .banner__box .banner__heading.h1 p, .product-registeration .banner .banner__content .banner__box .banner__heading.h1 p, .return-authorization .banner .banner__content .banner__box .banner__heading.h1 p {
    font-size: 16px;
}.factory-tours-signup .form_title_div {
    display: none;
}.hulk-powered-wrapper {
    display: none;
}


.search-results-container.tagalys-namespace { 
  .no-results {
   .smart-widget#tagalys-namespace {
      max-width: 1206px!important;
      padding: 0 80px;
      margin: auto;
      @media screen and (max-width: 749px) {
        padding: 0;
      }
      .widget {
        .widget-header {
          margin-bottom: 30px;
          @media screen and (max-width: 749px) {
            margin-bottom: 10px;
          }
          .widget-heading {
            text-transform: uppercase;
            font-size: 40px;
            letter-spacing: 1px;
            text-align: center;
            @media screen and (max-width: 749px) {
              font-size: 20px;
              text-align: left;
            }
          }
        }
        .widget-body {
          
          @media screen and (max-width: 749px) {
            position: relative;
            &::after {
              content: " ";
              width: 50px;
              height: 100%;
              background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
              position: absolute;
              right: 0;
              top: 0;
            }
          }
          .products-and-navigation {
            @media screen and (max-width: 749px) {
              padding-right: 0;
              padding-left: 20px;
            }
          }
          .carousel-actions-container {
            @media screen and (max-width: 749px) {
              display: none;
            }
            display: none;
          }
          .products {
            .product {
              .product-image-container {
                &::before {
                  padding-bottom: 100%;
                }
              }
              .badge {
                background: black;
                color: white;
                text-transform: uppercase;
                font-size: 11px;
                font-weight: 700;
                margin-top: 10px;
                margin-left: 10px;
                &:empty {
                  display: none;
                }
              }
              .product-details {
                padding: 20px 0;
                .product-name {
                  text-align: left;
                  font-weight: 700;
                  font-size: 20px;
                  text-transform: uppercase;
                  line-height: 32px;
                  letter-spacing: 1px;
                  @media screen and (max-width: 749px) {
                    font-size: 14px;
                    line-height: 21px;
                  }
                }
                .pwr-category-snippets .p-w-r .pr-category-snippet {
                  margin: 0;
                  @media screen and (max-width: 989px) {
                    display: block;
                  }
                  .pr-category-snippet__rating {
                    @media screen and (max-width: 989px) {
                      width: 100%;
                      display: block;
                    }
                    .pr-snippet-stars {
                      .pr-rating-stars {
                        margin-left: -2px;
                        .pr-star-v4 {
                          &.pr-star-v4-0-filled {
                            background-image: url('./empty-star.png');
                            margin: 0;
                          }
                        }
                      }
                      .pr-snippet-rating-decimal {
                        display: none;
                      }
                    }
                  }
                  .pr-category-snippet__total {
                    @media screen and (max-width: 989px) {
                      width: 100%;
                      padding-left: 2px;
                      padding-top: 2px;
                      font-size: 12px;
                    }
                  }
                }
                .product-prices {
                  text-align: left;
                  margin-top: 10px;
                  font-weight: normal;
                  .product-price-regular {
                    font-weight: normal;
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
#shopify-section-template--18412851200292__230bc92f-b8d9-46db-823f-3f07d0207a2e h2 {
    text-transform: inherit;
}.Introduction.and.History.of.the.art.bop .card__inner.color-background-1.gradient.ratio {
    background-color: #f5f8f8;
}

tab-component {
  .tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    column-gap: 5px;
    width: fit-content;
    margin: auto;
    border-radius: 30px;
    overflow: hidden;
    padding: 0!important;
    margin-bottom: 50px;
    li {
      padding: 10px 40px;
      background: #e4e5e6;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
      &.active {
        background: black;
        color: white;
      }
    }
  }
  .tab-content {
    padding: 0 50px;
    @media screen and (max-width: 768px) {
      padding: 0 20px;
    }
    [data-tab-content] {
      display: none;
      &.active {
        display: block;
      }
    }
  }
}
@media screen and (min-width: 749px) and (max-width: 1100px) {
  .boost-pfs-filter-wrapper{
    padding: 0 40px;
  }
}

/*****Education topic 2*****/
.edutopic2 .banner .banner__content .banner__box .banner__heading img+span span {
    font-size: 20px;
}.edutopic2 .banner .banner__content .banner__box .banner__heading img+span:before{
  display: none;
}.edutopic2 .banner .banner__content .banner__box .banner__heading img {
    width: 200px;
    height: 203px;
}

/*****Education topic 3****/
.merg-cont {
    display: flex;
    justify-content: space-between;
}.edu-tt-pp {
    background: #F8F8F9;
}.edu-art-two h2 {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 0;
}

/*****Education topic 1****/
.edutopic11 .banner .banner__content .banner__box .banner__heading img+span:before{
  display: none;
}.edutopic11 .article-template__content {
    background-color: #F8F8F9;
  padding: 50px 0;
}.edutopic11 .article-template .article-template__content ul{
  display: inherit;
}.edutopic11 .article-template .article-template__content ul {
    padding: 0;
    list-style: none;
    display: inherit;
    margin: 0 20px;
}.mystique_col.first-edutop p {
    text-align: center;
    font-weight: 600;
}.topic-1-inner {
    display: flex;
    flex-wrap: wrap;
}.topic1-innright {
    width: calc(50% - 20px);
    margin: 0 10px;
      padding-left: 5rem;
   
}.topic1-innleft {
    width: calc(50% - 20px);
    margin: 0 10px;
}
@media only screen and (max-width: 1500px) {
  iframe {
    max-width: 100% !important;
    width: 100% !important;
  }
}
@media only screen and (max-width: 1200px) {
  iframe {
    // width: 100%!important;
    // height: 260px !important;
    width: 100%;
    height: 260px;
  }
}
.topic-1-inner h2 {
    font-family: Century Gothic;
    font-size: 27px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px;
    text-align: left;
    margin-top: 0;
    text-transform: uppercase;
    margin-bottom: 30px;
  @media only screen and (max-width: 1200px) {
    font-size: 23px;
    line-height: 28px;
  }
}.edutopic11 .article-template .article-template__content ul li {
    list-style: disc;
    padding: 0;
}.topic1-innleft p {
    font-family: Century Gothic;
    font-size: 15px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 1px;
    text-align: center;
    width: 531px;
    margin: 0 auto;
  @media screen and (max-width: 1500px) {  
      width: 100%;
  }
}

/*****Education Topic 3*****/
.edutopic13 .banner .banner__content .banner__box .banner__heading img+span:before{
  display: none;
}.edutopic13 .banner .banner__content .banner__box .banner__heading img {
    width: 200px;
    height: 203px;
}.edutopic13 .article-template__content {
    background: #F8F8F9;
    padding: 40px 0px 60px 0;
}.edutopic13 .article-template__content h2 {
    text-align: center;
}.edutopic13 .merg-cont .left-mmm {
    padding-right: 60px;
}.edutopic13 .merg-cont {
    padding: 0 60px;
    font-size: 16px;
}.edutopic13 .breadcrumbs {
    margin-top: 0;
}.edutopic13 .card-wrapper .card .card__content .card__information .card__heading {
    font-size: 20px;
}
@media screen and (max-width: 767px) {
.edutopic13 .merg-cont {
    padding: 0;
    flex-wrap: wrap;
}.edutopic13 .merg-cont .left-mmm {
    padding-right: 0;
}.edutopic13 .article-template__content {
    padding: 30px 0 30px;
}.edutopic13 .banner .banner__content .banner__box .banner__heading img{
  display: none;
}.edutopic13 .banner .banner__content .banner__box .banner__heading {
    text-align: center;
    padding-bottom: 57px;
}
}





@media only screen and (max-width: 767px) {
.banner__content.banner__content--bottom-left {
    margin-top: 43px;
}
  .topic1-innright {
    padding-left: 0;
    margin-top: 40px;
}
}

@media only screen and (max-width: 480px) {
article.article-template {
    margin-top: 30px;
}
  .edutopic11 .article-template__content {
    padding: 50px 0 50px;
}
  .breadcrumbs {
    // margin: 69px 0 0 !important;
}
}